@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsListViewModel

<h1>Water Project</h1>

@foreach (Project p in Model.Projects)
{
    <h3>@p.ProjectName</h3>
    
    <ul>Project Type: @p.ProjectType</ul>
    <ul>Regional Program: @p.ProgramName</ul>
    <ul>Impact: @p.ProjectImpact served</ul>
    <ul>Installation Date: @p.ProjectInstallation</ul>
    <ul>Project Phase: @p.ProjectPhase</ul>
}

<div page-model="@Model.PaginationInfo" page-action="Index"></div>
